{% extends 'layout.html' %}

{% block body %}

<div class="container pt-4">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>#Pedido</td>
                <td>Cliente</td>
                <td>Telefono</td>
                <td>fechaPedido</td>
                <td>fechaEntrega</td>
                <td>tema</td>
                <td>direccion</td>
                <td>observaciones</td>
                <td>cantidadPersonas</td>
                <td>Panes</td>
                <td>tipoCubierta</td>
                <td>saborPan</td>
                <td>relleno</td>
                <td>costo</td>
                <td>anticipo</td>
                <td>Operaciones</td>
            </tr>
        </thead>
        <tbody>
            {% for pendiente in pendientes %}
            <tr>
                <td>{{ pendiente.0 }}</td>
                <td>{{ pendiente.1 }}</td>
                <td>{{ pendiente.2 }}</td>
                <td>{{ pendiente.3 }}</td>
                <td>{{ pendiente.4 }}</td>
                <td>{{ pendiente.5 }}</td>
                <td>{{ pendiente.6 }}</td>
                <td>{{ pendiente.7 }}</td>
                <td>{{ pendiente.8 }}</td>
                <td>{{ pendiente.9 }}</td>
                <td>{{ pendiente.10 }}</td>
                <td>{{ pendiente.11 }}</td>
                <td>{{ pendiente.12 }}</td>
                <td>{{ pendiente.13 }}</td>
                <td>{{ pendiente.14 }}</td>

                <td>
                    <a href="/edit/{{ pendiente.0 }}" class="btn btn-secondary">Editar</a>
                    <a href="/delete/{{ pendiente.0 }}" class="btn btn-danger btn-delete">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-md-5 container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
        <form action="/add" method="POST">
            <div class="form-group">
                <input type="text" name="cliente" placeholder="Cliente" class="form-control">
            </div>

            <div class="form-group">
                <br><input type="text" name="telefono" placeholder="Telefono" class="form-control">
            </div>

            <div class="form-group">
                <br><input type="date" name="fechaPedido" placeholder="Fecha de pedido" class="form-control">
            </div>

            <div class="form-group">
                <br><input type="date" name="fechaEntrega" placeholder="Fecha de entrega" class="form-control">
            </div>

            <div class="form-group">
                <br><input type="text" name="tema" placeholder="Tema" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="direccionEntrega" placeholder="Direccion de entrega" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="observaciones" placeholder="Observaciones" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="cantidadPersonas" placeholder="Cantidad de personas" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="panes" placeholder="Panes" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="tipoCubierta" placeholder="Tipo de cubierta" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="saborPan" placeholder="Sabor de pan" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="relleno" placeholder="Relleno" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="costo" placeholder="Costo" class="form-control">
            </div>
            <div class="form-group">
                <br><input type="text" name="anticipo" placeholder="Anticipo" class="form-control">
            </div>
            <div class="form-group">
                <br><button type="submit" class="btn btn-primary btn-block">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}